.wrapper-padding{
padding: 1% 1% 1% 1% ;
}
.table-img{
	width:60px;
	height:auto;
}

.loading-icon{
	width: 200px;
	height: auto;
}

.imageOnRow{
	border: none !important;
	width: 95%;
	object-fit: cover;
	height: 200px;
}
